global
  log /dev/log  local0
  log /dev/log  local1 notice
  stats socket /var/lib/haproxy/stats level admin
  chroot /var/lib/haproxy
  user {{ haproxy_user }}
  group {{ haproxy_group }}
  daemon
defaults
  log global
  mode  http
  option  httplog
  option  dontlognull
{% if haproxy_version is version('1.4', '<=') %}
      contimeout {{ haproxy_connect_timeout }}
      clitimeout {{ haproxy_client_timeout }}
      srvtimeout {{ haproxy_server_timeout }}
{% else %}
      timeout connect {{ haproxy_connect_timeout }}
      timeout client {{ haproxy_client_timeout }}
      timeout server {{ haproxy_server_timeout }}
{% endif %}
frontend {{ haproxy_frontend_name }}
    bind {{ haproxy_frontend_bind_address }}:{{ haproxy_frontend_port }}
    option tcplog
    mode {{ haproxy_frontend_mode }}
    default_backend {{ haproxy_backend_name }}

backend {{ haproxy_backend_name }}
    mode {{ haproxy_backend_mode }}
    balance {{ haproxy_backend_balance_method }}
{% if haproxy_backend_httpchk != '' %}
    option httpchk {{ haproxy_backend_httpchk }}
{% else %}
    option {{ haproxy_backend_tcpchk }}
{% endif %}
{% for backend in haproxy_backend_servers %}
    server {{ backend.name }} {{ backend.address }}:{{ haproxy_frontend_port }} check fall 3 rise 2
{% endfor %}

listen stats 10.11.1.30:8080
    mode http
    stats enable
    stats uri /
    stats realm HAProxy\ Statistics
    stats auth admin:haproxy